.grid-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80.445rem;
  margin: 0 auto;
}

.grid-wrap > * {
  flex: 0 0 24.375rem;
  height: 29.5rem;
  margin: 0.94rem 1.22rem;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .grid-wrap {
    width: 20.375rem;
    flex-direction: column;
    margin: 0rem 0rem;
  }
}
