.grid-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80.445rem;
  margin: 0 auto;
}

.grid-wrap > * {
  flex: 0 0 33.3333%;
  max-width: 24.375rem;
  margin: 0.94rem 1.22rem; /* Top/bottom margin is 0.94rem and left/right margin is half, 0.47rem */
}

@media (max-width: 768px) {
  .grid-wrap > * {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .grid-wrap > * {
    flex: 0 0 100%;
  }
}
